/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

:root {
    /* Font style */
    --font-size-32-px: 32px;
    --font-poppins: 'Poppins', sans-serif;

    /* Primary Colors */
    --purple: hsl(259, 100%, 65%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* Body */
body {
    font-family: var(--font-poppins);
    font-size: var(--font-size-32-px);
    background-color: var(--light-grey);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Main */
main {
    background-color: var(--white);
    max-width: 840px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    flex-shrink: 0;
    border-radius: 24px 24px 200px 24px;
}

.container-input {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 15px 100px 15px 15px;
    flex-grow: 1;
}

.container-input label {
    padding-left: 30px;
}

.text-box {
    display: flex;
    width: 135px;
    height: 55px;
    font-size: 25px;
    font-weight: 600;
    padding: 5px 2px;
    border-radius: 8px;
    border: 1px solid #DCDCDC;
    color: var(--off-black);
    resize: none;
    margin: 3px 8px 8px 0;
}


.title {
    display: flex;
    padding: 10px 0 0 12px;
    margin: 12px;
    font-size: 14px;
    font-weight: 700;
    color: var(--smokey-grey);
    text-transform: uppercase;
}

.container-box {
    display: flex;
}

.container-output {
    font-weight: 800;
    font-size: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 30px;
    padding-left: 30px;
}

.container-output h1 {
    margin: -20px;
    padding-left: 30px;
}

.container-output span {
    color: var(--off-black);
}

.display-purple {
    color: var(--purple);
}

.line {
    border: 1px solid var(--light-grey);
    width: 570px;
    margin-left: 40px;
    margin-right: 55px;
    margin-bottom: -40px;
}

.btn-container {
    position: relative;
    padding-top: 10px;
}

.btn-arrow {
    background-color: var(--purple);
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-right: 10px;
    float: right;
}

/* MEDIA QUERY'S */

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    main {
        max-width: 600px;
    }

    .text-box {
        display: flex;
        width: 100px;
        height: 40px;
        font-size: 20px;
        font-weight: 600;
    }


    .title {
        margin: 8px;
        font-size: 10px;
        font-weight: 700;
    }


    .container-output {
        font-size: 35px;
    }

    .btn-arrow {
        width: 50px;
        height: 50px;
        margin-right: 270px;
        margin-top: 15px;
        margin-bottom: 15px;
        justify-content: center;
        float: right;

    }

    .btn-arrow img{
        width: 30px;
        height: 30px;

    }

    .line {
        border: 1px solid var(--light-grey);
        width: 500px;
        margin-left: 40px;
        margin-right: 55px;
        margin-bottom: -40px;
    }
}

@media only screen and (max-width: 600px) {


    main {

        max-width: 400px;
        border-radius: 24px 24px 100px 24px;
    }

    .text-box {
        display: flex;
        width: 60px;
        height: 30px;
        font-size: 12px;
    }


    .title {
        margin: 5px;
        font-size: 8px;
    }


    .container-output {
        font-size: 25px;
        gap: 20px;
    }

    .btn-arrow {
        width: 48px;
        height: 48px;
        margin-right: 50%;
        margin-top: 20px;
        margin-bottom: 15px;
        justify-content: center;
        float: right;

    }

    .btn-arrow img{
        width: 35px;
        height: 35px;

    }

    .line {
        border: 1px solid var(--light-grey);
        width: 330px;
        margin-bottom: -40px;
    }


}